$light-color:#EFEBEB;
$brand-color:#0264BE;
$dark-color:#343434;
$mid-color:#696969;
$gray-color:#E3E3E3;
$dark-blue-color:#2B449F;
$border-color: #D4D4D4;
$darker-color:#212121;

$primary_light: #B9CEE1;
$primary_light_hover: #75A2CB;
$primary_light_active: #4695DC;
$primary_normal: #157CBF;
$primary_normal_hover: #1268A0;
$primary_dark: #135078;
$primary_dark_hover: #123E5B;
$primary_dark_active: #0C2536;
$primary_darker: #0E061B;

$secondary_light: #9399a0;
$secondary_light_hover: #61666b;
$secondary_light_active: #414246;
$secondary_normal: #212121;
$secondary_normal_hover: #191919;
$secondary_normal_active: #0d0d0d;
$secondary_dark: #0d0d0d;
$secondary_dark_hover: #191919;
$secondary_dark_active: #0d0d0d;
$secondary_darker: #0d0d0d;

$tertiary_light: #B4E0C3;
$tertiary_light_hover: #8ADCA7;
$tertiary_light_active: #6CC68A;
$tertiary_normal: #56B275;
$tertiary_normal_hover: #4B9F67;
$tertiary_normal_active: #4B9F67;
$tertiary_dark: #316542;
$tertiary_dark_hover: #295337;
$tertiary_dark_active: #22442D;
$tertiary_darker: #172F1F;

$grey_50: #efefef;
$grey_100: #cecece;
$grey_200: #b6b6b6;
$grey_300: #959595;
$grey_400: #818181;
$grey_500: #616161;
$grey_600: #585858;
$grey_700: #454545;
$grey_800: #353535;
$grey_900: #292929;

$feedback_danger_50: #f8e8ed;
$feedback_danger_100: #eab6c6;
$feedback_danger_200: #e093aa;
$feedback_danger_300: #d16283;
$feedback_danger_400: #c9446b;
$feedback_danger_500: #bb1546;
$feedback_danger_600: #aa1340;
$feedback_danger_700: #850f32;
$feedback_danger_800: #670c27;
$feedback_danger_900: #4f091d;

$feedback_info_50: #eff5fb;
$feedback_info_100: #cce1f2;
$feedback_info_200: #b4d2ec;
$feedback_info_300: #91bee4;
$feedback_info_400: #7cb1de;
$feedback_info_500: #5b9ed6;
$feedback_info_600: #5390c3;
$feedback_info_700: #417098;
$feedback_info_800: #325776;
$feedback_info_900: #26425a;

$feedback_success_50: #edf4e8;
$feedback_success_100: #c8deb8;
$feedback_success_200: #adce96;
$feedback_success_300: #88b866;
$feedback_success_400: #71aa49;
$feedback_success_500: #4d951b;
$feedback_success_600: #468819;
$feedback_success_700: #376a13;
$feedback_success_800: #2a520f;
$feedback_success_900: #203f0b;
