@use "colors";
@use "fonts";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  color: black;
  font-family: fonts.$inter;

  h1, h2, h3 {
    font-family: fonts.$montserrat;
  }

  max-width: 100%;
}