---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import ProcessLayout from "../layouts/ProcessLayout.astro";
import WorkLayout from "../layouts/WorkLayout.astro";
---

<BaseLayout>
  <main>
    <HomeLayout />
    <ProcessLayout/>
    <WorkLayout/>
  </main>
</BaseLayout>
