@use "../fonts";
@use "../colors.scss";

#footer{
    background-color: colors.$darker-color;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
    height: 70vh;
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: fonts.$montserrat;
        .logo{
            width: 170px;
            height: auto;
            object-fit: contain;
        }
        .description{
            color:colors.$mid-color;
        }
        .telephone{
            border: 2px solid colors.$light-color;
            padding: 14px;
            font-size: 1em;
            width: 220px;
            gap: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            border-radius: 80px;
        }

        a{
            text-decoration: none;
            color: colors.$light-color;
        }
        .information{
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                color: colors.$mid-color;
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    fill: colors.$mid-color;
                }
            }
        }
    }
}