---
import { Image } from "astro:assets";
import "../styles/layouts/AboutLayout.scss";

import Elipses from "../assets/images/about-aside.png"
import Line from "../assets/images/about-line.png"
import BlueBalls from "../assets/images/about-blue-balls.png"

import PcImage from "../assets/images/pc_about_1.svg"
import PcImage2 from "../assets/images/pc_about.svg"
---

<section id="about">
    <article class="about-card">
        <h2 class="title">Qualidade<span class="subtle">Reescreve capítulos de verdade.</span></h2>
        <p class="description">
            <strong>85 BILHÕES de dólares</strong> por ano é o custo estimado de um código mal feito. <br />
            A equipe +Tech valoriza o seu bolso e principalmente seu tempo, por isso, nossos processos foram pensados visando excelência e fácil manutenção.
        </p>
    </article>
   
        <Image class="img" src={PcImage} height={200} width={300} alt="Elipses"/>

 
        <Image class="img" src={PcImage2} height={150} width={240} alt="Elipses"/>
  
    <article class="about-card">
        <h2 class="title">Agregar <span class="subtle">Para sua empresa decolar.</span></h2>
        <p class="description">
            Seus clientes desfrutarão de design e UX refinados, resultando em maior aprovação e melhores insights.<br/ >
        </p>
    </article>
</section>