<footer>
  <article>
    <p>
      Somos uma startup que tem como objetivo desenvolvimento web e design,
      vamos deixar a sua empresa atualizada e com uma identidade visual de alta
      qualidade.
    </p>
    <a href="">+55 41 9838-1881</a>
    <div>
        <a href="">maistect@gmail.com</a>
        <a href="">+55 41 9838-1881</a>
        <a href="">instagram.com/maistect/</a>
    </div>
  </article>
</footer>
