
<section>
    <h1>Um novo capitulo para o seu negócio</h1>    
    <p>Somos uma empresa de desenvolvimento web criada com objetivo de modernizar a forma como empresas e trabalhadores autônomos vêem o mundo.</p>
    <button>Faça um orçamento</button>
</section>