---
import { Image } from "astro:assets";
import "../styles/layouts/ServicesLayout.scss";
import Pen from "../assets/images/pen.png"
import Translate from "../assets/images/translate.png"
import Dev from "../assets/images/code.png"
---

<section id="services">
  <h2 class="subtitle">Está interessado?</h2>
  <h1 class="title">Tudo isso é o que fazemos</h1>
  <section class="services-cards">
    <article class="card-service">
      <Image
        src={Pen}
        height={500}
        width={500}
        alt="Icone de um pincel"
        class="img"
      />
      <h1 class="title">Design</h1>
      <p class="p">
        Visuais que extraem todo o potencial da essência do seu negócio e experiência do usuário refinada.
      </p>
      <h2 class="subtitle">Projetamos</h2>
      <p class="p" style="text-align: left;">
        &bullet; Aplicativos mobile<br />
        &bullet; landing pages<br />
        &bullet; logos<br />
        &bullet; ilustrações<br />
        &bullet; modelagem 3D e animações.
      </p>
      <h2 class="subtitle">Ferramentas de design:</h2>
      <div class="items">
        <a href="">Photoshop</a>
        <a href="">Krita</a>
        <a href="">Figma</a>
        <a href="">Blender</a>
        <a href="">Miro</a>
        <a href="">Figjam</a>
        <a href="">Skechup</a>
        <a href="">Canva</a>
      </div>
    </article>
    <article class="card-service">
      <Image
      src={Dev}
      height={500}
      width={500}
      alt="Icone de um <>"
      class="img"
    />
      <h1 class="title">Desenvolvimento</h1>
      <p class="p">
        Aplicações desenvolvidas com excelência e sob-medida para as necessidades da sua empresa.
      </p>
      <h2 class="subtitle">Desenvolvemos</h2>
      <p class="p" style="width: 350px; margin: auto; text-align: left; ">
        &bullet; Websites/webapps<br />
        &bullet; automações personalizadas<br />
        &bullet; integração com gateway de pagamentos<br />
        &bullet; integração com inteligência artificial<br />
        &bullet; Soluções suas necessidades
      </p>
      <h2 class="subtitle">Nossas habilidades:</h2>
      <div class="items">
        <a href="">Javascript/Typescript</a>
        <a href="">React</a>
        <a href="">Golang</a>
        <a href="">C#</a>
        <a href="">Python</a>
        <a href="">SQL</a>
        <a href="">PHP</a>
        <a href="">Kotlin for Android</a>
      </div>
    </article>
    <article class="card-service">
      <Image
      src={Translate}
      height={500}
      width={500}
      alt="Icone de um tradutor"
      class="img"
    />
      <h1 class="title">Tradução</h1>
      <p class="p">Tradução de conteúdos com uma equipe profissionais fluentes.</p>
      <h2 class="subtitle">Idiomas:</h2>
      <p class="p">ENG-USA</p>
      <p class="p">PT-BR</p>
      <h2 class="subtitle">Traduzimos:</h2>
      <div class="items">
        <a href="">Séries</a>
        <a href="">Livros</a>
        <a href="">Quadrinhos</a>
        <a href="">Filmes</a>
        <a href="">Jogos</a>
        <a href="">Websites</a>
        <a href="">Reuniões</a>
        <a href="">Documentos</a>
      </div>
    </article>
  </section>
</section>
